<h2>Calculator</h2>
<div>
    <div>
        <input type="text"
        placeholder=" Enter 1st no"
        [(ngModel)]="firstNo">
        <select [(ngModel)]="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text"
        placeholder="Enter 2nd No"
        [(ngModel)]="secondNo">
    </div>
    <div>
        <button (click)="calculate()">Calculate</button>
    </div>
    <div>
        <input type="text"
        placeholder="Ans" [value]="ans">
    </div>
    <app-calc-results
        [first]="firstNo"
        [second]="secondNo"
        [ops]="operation"
        [ans]="ans">
    </app-calc-results>
</div>